
<h1>Titulo de pagina</h1>


<table >
  
  <tr>
    <th >Titulo 1</th>
    <th colspan="2">Titulo 2 y 3</th>

  </tr>
  
  <tr>
    <td rowspan="2">Celda 1</td>
    <td>Celda 2</td>
    <td>Celda 3</td>
    
  </tr>
  <tr>
 
    <td>Celda 2</td>
    <td>Celda 3</td>
    
  </tr>
  
  
</table>


<ul>
  <li>Listado:</li>
  <li>Elemento 1</li>
  <li>Elemento 2</li>
  <li>Elemento 3</li>
</ul>


<ul>
  <li>Listado:</li>
  <li>Elemento 1</li>
  <li>Elemento 2</li>
  <li>Elemento 3</li>
</ul>



<ul>
  <li>Listado:</li>
  <li>Elemento 1</li>
  <li>Elemento 2</li>
  <li>Elemento 3</li>
</ul>

<p>aks dfñlkas dñflka jsñflksañflask ñfd
  <a href="#">Mi enlace de diseño</a> alksj fdñlaskdñflsakdf </p>

<div class="bola" onclick="avisa()"></div>
