body {
    padding: 50px;
    background-color: rgb(255, 255, 255);
}

span.arriba {
    color: rgb(1, 54, 24) ;
        position: relative;
        bottom: 10px;
}

span.t1 {
    color: red;
}
span.t2 {
    color: blue;
}
span.t3 {
    color: blue;
}
td {
    color: red;
    background color: lightblue;

}

.A1 {font-size:25px;}